@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Google Sans', sans-serif;
}

html {
  background-color: #121212;
}

.text-main {
    color: white;
}

.bt-copy-disabled {
    background-color: #e5e7eb; /* Серый фон для заблокированной кнопки */ 
    color: #9ca3af; /* Серый текст */
    cursor: not-allowed; /* Курсор "нельзя" */
}

.bt-copy-disabled {
    padding: 4px 12px;
    border: none;
    border-radius: 6px;
    background-color: #27ae60;
    color: #111827;
    font-size: 16px;
    cursor: not-allowed; /* Курсор "нельзя" */
    transition: 0.3s ease;
}

.bt-vk {
  padding: 12px 18px !important;
  border: none !important;
  border-radius: 6px !important;
  background-color: #0077FF !important;
  color: #ffffff !important;
  font-size: 1rem;
  cursor: pointer !important;
  transition: 0.3s ease !important;
}

.bt-vk:hover {
  background-color: #0066da !important;
    transition: 0.3s ease !important;
}

.bt-vk:active {
  background-color: #005ac0 !important;
  transition: 0.01s ease !important;
}

.bt-copy {
    padding: 4px 12px;
    border: none;
    border-radius: 6px;
    background-color: #4ade80;
    color: #111827;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}

.bt-copy:hover {
    background-color: #27ae60;
    transition: 0.3s ease;
}

.bt-copy:active {
    background-color: #096630;
    transition: 0.01s ease;
}

.bt-main {
  padding: 12px 18px !important;
  border: none !important;
  border-radius: 6px !important;
  background-color: #ff4b32 !important;
  color: #ffffff !important;
  font-size: 1rem !important;
  cursor: pointer !important;
  transition: 0.3s ease !important;
}

.bt-main:hover {
  background-color: #ff3f25 !important;
  transition: 0.3s ease !important;
}

.bt-main:active {
  background-color: #d63722 !important;
  transition: 0.01s ease !important;
}

.SecVersion {
    padding: 4px 12px;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}

.buttonGH {
    padding: 4px 12px;
    border: none;
    border-radius: 6px;
    background-color: #171515;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}

.buttonGH:hover {
    color: #000000;
    background-color: #ffffff;
    transition: 0.3s ease;
}

.buttonGH:active {
    color: #fff;
    background-color: #000000;
    transition: 0.01s ease;
}

.buttonVK {
    padding: 4px 12px;
    border: none;
    border-radius: 6px;
    background-color: #0077FF;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}

.buttonVK:hover {
    background-color: #006de9;
    transition: 0.3s ease;
}

.buttonVK:active {
    background-color: #005eca;
    transition: 0.01s ease;
}

.nav-button {
    color: white;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease;
  }
  
  .nav-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Для Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Стили для тонкого скроллбара */
::-webkit-scrollbar {
  width: 8px; /* Ширина скроллбара */
}

::-webkit-scrollbar-track {
  background: transparent; /* Прозрачный фон */
}

::-webkit-scrollbar-thumb {
  background-color: #121212; /* Цвет скроллбара */
  border-radius: 10px; /* Закругление углов */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ff4b32; /* Цвет скроллбара при наведении */
}


.shadow-mainOFF {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.card-main {
  background-color: #1e1e1e;
}