/* Основные переменные темы */
:root {
    --p-primary-color: #2c2d31;
    /* основной цвет темы */
    --p-secondary-color: #2c2d31;
    /* вспомогательный цвет */
    --p-text-color: #ffffff;
    /* основной цвет текста */
    --p-border-color: #ff4b32;
    /* цвет границ */
    --p-background-color: #2c2d31;
    /* цвет фона */

    --p-button-background: var(--p-primary-color);
    --p-button-text-color: #ffffff;
    --p-button-border-color: var(--p-primary-color);

    --p-select-option-selected-color: #ff4b32;
    --p-select-option-selected-focus-color: #ff4b32;
    --text-selection-background: #327dff;
    --text-selection-color: #ffffff;

}

::selection {
    background-color: var(--text-selection-background) !important;
    color: var(--text-selection-color) !important;
}

/* Стили для полей ввода текста и чисел */
.p-inputtext,
.p-inputnumber {
    background-color: #2c2d31 !important;
    color: #ffffff !important;
    border: none !important;
    border-radius: 6px !important;
}

.p-inputtext:focus,
.p-inputnumber:focus {
    outline: none !important;
    box-shadow: 0 0 0 2px #ff4b32 !important;
}

.p-select,
.p-select-list {
    background-color: #2c2d31 !important;
    color: #ffffff !important;
    border: none !important;
    border-radius: 6px !important;
}

.p-select:focus {
    background-color: var(--p-select-focus-background, #f0f0f0) !important;
    border-color: var(--p-select-focus-border-color, #007ad9) !important;
}

.p-select-option {
    color: var(--p-select-option-color, #333333) !important;
}

.p-select-option-selected {
    background-color: var(--p-select-option-selected-background, #42a5f5) !important;
    color: var(--p-select-option-selected-color, #ffffff) !important;
}

.p-select-option-selected,
.p-dropdown-item.p-highlight {
    background-color: #ff4b32 !important;
    color: #ffffff !important;
}


.p-paginator .p-paginator-page,
.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next {
    color: #ffffff !important;
    background: var(--p-background-color) !important;
    border-radius: 6px;
}

.p-paginator .p-paginator-page.p-highlight {
    background: #ff4b32 !important;
    color: #ffffff !important;
}
